
@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Firstname</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Anna</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Debbie</td>
        </tr>
        <tr>
            <td>3</td>
            <td>John</td>
        </tr>
    </tbody>
</table>

@section mysection
{
<ul>
    <li>Sugar</li>
    <li>Milk</li>
    <li>Eggs</li>
    </ul>
}